@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

* {
    box-sizing: border-box;

}

h1 {
    font-family: 'Faster One', cursive;
}

:root {
    --azul: #5aa1e2;
    --verde: #24bb5e;
}

.text-azul {
    color: var(--azul);
}

.bg-azul {
    background-color: var(--azul);
}

.text-verde {
    color: var(--verde);
}

.bg-verde {
    background-color: var(--verde);
}

[type=radio] {
    width: 1.8em;
    height: 1.8em !important;
}

:checked[type=radio] {
    background-color: var(--color-azul);
    background-image: none;
}

.content-contenido {
    height: 100vh;
    background-color: #f1a761;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}