@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

* {
    box-sizing: border-box;

}

h1 {
    font-family: 'Faster One', cursive;
}

:root {
    --azul: #5aa1e2;
    --verde: #24bb5e;
}

.text-azul {
    color: var(--azul);
}

.bg-azul {
    background-color: var(--azul);
}

.text-verde {
    color: var(--verde);
}

.bg-verde {
    background-color: var(--verde);
}

input[type='radio'] {
    opacity: 0;
}

input:checked {
    opacity: 1;
    height: 5px !important;
    width: 100% !important;
    box-shadow: 0px 53px 20px 0px black;
    background-color: white !important;
}

.content-contenido {
    height: 100vh;
    background-color: #f1a761;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-mascota {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-mascota {
    max-width: 100%;
    transition: ease 2s all;
}

.content-mascota:hover .img-mascota {
    transform: scale(1.2);
    /* opacity: 0.5; */
    filter: blur();
}